<div class="container">
  <h3 class="orange-text text-darken-3">ほめノートの使い方</h3>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <h4><span class="orange-text text-darken-3">自分をほめるコツ</span></h4>
        <p>最初から自分をうまくほめられる人は、なかなかいないと思います。そこで、ほめるコツをいくつかあげていきます。</p>
        <ul>
          <li>(1) 「ご飯が美味しく食べられた」など、ささいなことでもよいので、ほめるハードルを下げる</li>
          <li>(2) ほめる内容は１つでもよいため、とにかく毎日ほめて継続させる</li>
          <li>(3) 習慣化するまでは忘れないように、思いついたら一言でもよいため、すぐに書き込む</li>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <h4><span class="orange-text text-darken-3">ほめノートのしくみ</span></h4>
        <p>ほめノートは以下の方針としくみで成り立っています。</p>
        <h5>【書き込みについて】</h5>
        <p>トップページの投稿ボタンから、ほめノートに書き込むことができます。現時点ではブログのような長文の書き込みは想定していないため、1回の書き込みは、Twitterと同じ程度の文字数で書き込めるようにしています。</p>
        <h5>【書き込んだ内容の表示について】</h5>
        <p>書き込まれた内容は、トップページ上で１週間だけ表示されます（今後変更される可能性あり）。ただし、削除しているわけではないため、システム側に情報は蓄積され続けます。個人が特定できる情報は書き込まないようにしてください。もし削除が必要になった場合は <a href="https://twitter.com/256hax" target="_blank">@256hax Twitter</a> に連絡ください。</p>
        <h5>【匿名の範囲について】</h5>
        <p>ほめノートは気軽に投稿するため、投稿情報は匿名になっています。ただし、アクセスされた情報（Web解析情報やIPなど）はログとして蓄積されます。それらの情報は、サイト管理者や機密保持関係のある協業先が、閲覧する可能性がありますが、外部に一般公開することはありません。</p>
        </ul>
      </div>
    </div>
  </div>

</div>
