<div class="container">
  <h3 class="orange-text text-darken-3">Thank you!</h3>

  <div class="row">
    <div class="section">
      <div class="col s12">
        <ul>
          <li>Ruby Framework: <a href="http://hanamirb.org/" target="_blank">Hanami</a></li>
          <li>Fonts: <a href="https://googlefonts.github.io/japanese/" target="_blank">Google Fonts + 日本語 早期アクセス</a></li>
          <li>Photos: <a href="https://pixabay.com/" target="_blank">Pixabay</a></li>
          <li>Videos: <a href="https://videos.pexels.com/" target="_blank">Pexels Videos</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
